# Ignore executable files
test
encounters

# Ignore objects
.vscode
.objs
.objs/cs225/catch/catchmain.d
.objs/cs225/catch/catchmain.o
.objs/cs225/lodepng/lodepng.d
.objs/cs225/lodepng/lodepng.o
.objs/cs225/HSLAPixel.d
.objs/cs225/PNG.o
.objs/encounter.o
.objs/tests/test_make.o
.objs/main.o